.ide {
  background: #242322;
  font-family: monospace;
  font-size: 16px;
  color: white;
  user-select: none;
  min-height: 500px;
  padding: 20px;
}

.ide .tree,
.ide .tree-node,
.ide .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ide .tree-node__branch {
  outline: none;
}
.ide .tree-node__leaf {
  outline: none;
}

.ide .tree-node {
  cursor: pointer;
}

.ide .tree-branch-wrapper--selected,
.ide .tree-node--selected.tree-node__leaf {
  outline: none;
  background: rgba(48, 107, 176);
}

.ide
  .tree-node__branch:focus
  > .tree-branch-wrapper:not(.tree-branch-wrapper--selected),
.ide :not(.tree-node--selected).tree-node__leaf:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
}

.ide :not(.tree-branch-wrapper--selected).tree-branch-wrapper:hover,
.ide :not(:focus):not(.tree-node--selected).tree-node__leaf:hover {
  background: rgba(255, 255, 255, 0.1);
}

.ide .tree-branch-wrapper {
  display: block;
}

.icon {
  vertical-align: middle;
  padding-right: 5px;
}
