name: Publish to NPM Registry
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      newPackageJsonVersion:
        description: "The semver for the version you would like to publish"
        required: true
      releaseTitle:
        description: "A short description to describe the release (do NOT include the version number here)"

env:
  NODE_VERSION: "16"
jobs:
  pre-publish-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.15.0
          cache: "npm"
      - run: npm ci
      - run: npm run lint
      - run: npm run type-check
      - run: npm test
      - run: npm run build
  publish:
    needs: pre-publish-checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # increment the version then publish
      - run: node -e "console.log(\"Current package.json version is \" + require('./package.json').version);"
      - run: npm version ${{ github.event.inputs.newPackageJsonVersion }} --no-git-tag-version
      # install all dependencies
      - uses: bahmutov/npm-install@v1
      - run: npm publish --access public

      # We have to make a PR to update the package.json version in master since we can't commit directly to the protected master branch
      - run: |
          echo "NEW_BRANCH_NAME=bump-to-${{ github.event.inputs.newPackageJsonVersion }}" >> $GITHUB_ENV
      - run: git checkout -b ${{ env.NEW_BRANCH_NAME }}
      # add/commit/push the files that contain this new version

      - name: update docs package.json version
        working-directory: website
        run: |
          npm i a-dummy-react-accessible-treeview@${{ github.event.inputs.newPackageJsonVersion }}
          git add package.json
      - run: git add package-lock.json package.json
      - run: git config --global user.email "actions@github.com"
      - run: git config --global user.name "Github Actions on behalf of ${{ github.event.sender.login }}"
      - run: git commit -m "bumping version to ${{ github.event.inputs.newPackageJsonVersion }}" --no-verify
      - run: git push --set-upstream origin ${{ env.NEW_BRANCH_NAME }}
      - run: gh pr create --title "bumping version to ${{ github.event.inputs.newPackageJsonVersion }}" --body "Please approve and merge ASAP so the version doesn't get out of date."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  create-release-draft:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: release-drafter/release-drafter@v5
        with:
          config-name: ../.release-drafter.yml
          version: ${{ github.event.inputs.newPackageJsonVersion }}
          publish: true
          name: (v${{ github.event.inputs.newPackageJsonVersion }}) ${{ github.event.inputs.releaseTitle }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
